[submodule "u-boot"]
	path = u-boot
	url = https://github.com/fary99/u-boot.git
	branch = unihikeM10
[submodule "kernel"]
	path = kernel
	url = https://github.com/fary99/kernel.git
	branch = unihikeM10-6.1.118
[submodule "rkbin"]
	path = rkbin
	url = https://github.com/fary99/rkbin.git
